#map {
  /* minus the pixel heights of the items above the map
  Map takes up whole of remaining screen */
  height: calc(100vh - 125px);
  width: 100%;
  overflow: hidden; /* Hide scrollbars */
}

#progress-bar {
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#map-description {
  width: 100%;
  text-align: center;
  padding: 12px 12px;
  box-sizing: border-box;
  margin: 0;
  color: #acacac;
}
