@import "~@angular/material/theming";

table {
  width: 100%;
}

.table-container {
  height: 70vh;
  overflow: auto;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 12px 12px 12px 12px;
}

.info-description {
  width: 100%;
  text-align: center;
  padding: 12px 12px;
  box-sizing: border-box;
  margin: 0;
  color: #acacac;
}

@media (prefers-color-scheme: dark) {
  .mat-header-cell {
    color: #02dac5;
  }
}

@media (prefers-color-scheme: light) {
  .mat-header-cell {
    color: #03a9f4;
  }
}
