table {
  width: 100%;
}

.table-container {
  height: calc(100vh - 110px);
  overflow: auto;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 12px 12px 12px 12px;
}

.mat-header-cell {
  color: #60e7ff;
}
