table {
  width: 100%;
}

.table-container {
  height: calc(100vh - 150px);
  overflow: auto;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 12px 12px 12px 12px;
}

.mat-header-cell {
  color: #60e7ff;
}

.info-description {
  width: 100%;
  text-align: center;
  padding: 12px 12px;
  box-sizing: border-box;
  margin: 0;
}
