<body class="mat-app-background">

<h1 id="title">Crime Finder</h1>
  <mat-tab-group #tabs mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Map">
      <app-map></app-map>
        <ng-template mat-tab-label>
          Map
        <mat-icon class="angular-icon">map</mat-icon>
      </ng-template>
    </mat-tab>
    <mat-tab label="Info">
      <app-info></app-info>
        <ng-template mat-tab-label>
          Stats
        <mat-icon class="angular-icon">info</mat-icon>
    </ng-template>
    </mat-tab>
    <mat-tab label="Search">
      <app-search (resetTabs)="resetTabs()"></app-search>
        <ng-template mat-tab-label>
          Search
        <mat-icon class="angular-icon">search</mat-icon>
        </ng-template>
    </mat-tab>
  </mat-tab-group>

</body>
