/* Custom light and dark themes, automatcially detected based on browser settings */

@import "~@angular/material/theming";

@include mat-core();

$theming-material-components-primary: mat-palette($mat-indigo);
$theming-material-components-accent: mat-palette($mat-red);
$theming-material-components-warn: mat-palette($mat-red);

$theming-material-components-theme: mat-light-theme(
  $theming-material-components-primary,
  $theming-material-components-accent,
  $theming-material-components-warn
);

@media (prefers-color-scheme: light) {
  @include angular-material-theme($theming-material-components-theme);
}

/* For use in src/lib/core/theming/_palette.scss */
$dark-primary: (
  50: #f8f2ff,
  100: #eddffe,
  200: #e2cafe,
  300: #d6b5fe,
  400: #cda5fd,
  500: #c495fd,
  600: #be8dfd,
  700: #b682fc,
  800: #af78fc,
  900: #a267fc,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #f3ecff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$dark-accent: (
  50: #e1fbf8,
  100: #b3f4ee,
  200: #81ede2,
  300: #4ee5d6,
  400: #28e0ce,
  500: #02dac5,
  600: #02d6bf,
  700: #01d0b8,
  800: #01cbb0,
  900: #01c2a3,
  A100: #ebfffb,
  A200: #b8fff2,
  A400: #85ffe9,
  A700: #6bffe4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-primary: mat-palette($dark-primary);
$dark-accent: mat-palette($dark-accent);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

@media (prefers-color-scheme: dark) {
  @include angular-material-color($dark-theme);
}
