@import "./custom-theme";

html,
body {
  height: 100%;
  overflow: hidden; /* Hide scrollbars */
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  height: 4px;
}

@media (prefers-color-scheme: dark) {
  .search-error {
    border-style: solid;
    border-color: #02dac5;
  }
}

@media (prefers-color-scheme: light) {
  .search-error {
    border-style: solid;
    border-color: #03a9f4;
  }
}
