<div *ngIf="locationFound">
  <p class="search-description">Search for UK destinations to find related crime data</p>
</div>
<div *ngIf="!locationFound" class="search-error">
  <p class="search-description">Location not found, please try searching again</p>
</div>

<div id="card-container">
  <mat-card class="card">
    <mat-card-content class="form-container">
      <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <mat-form-field appearance="outline" color="accent">
          <mat-label for="text">Enter location</mat-label>
          <input matInput matNativeControl placeholder="Location" [(ngModel)]="search.location" name="location"  type="text"
          maxlength="50" minlength="1" required>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label for="text">Enter full year</mat-label>
          <input matInput matNativeControl type="number" placeholder="Year" [(ngModel)]="search.year" name="year" type="number"
          [max]="maxYearValue" [min]="minYearValue" minLength="4" maxLength="4" required>
        </mat-form-field>
        <mat-card-actions id="button-group">
          <button type="submit" id="submit-button" mat-stroked-button color="primary"
          [disabled]="!form.valid">Search</button>
        </mat-card-actions>
      </form>
    </mat-card-content>

  </mat-card>
</div>
